{% extends 'base.html' %}
{% block content %}
    <h1>Loyiha haqida</h1>
    <hr>
    <div class="container">
        <div class="mt-4 p-5 bg-body-secondary rounded">
            <h1 class="text-uppercase text-center">
                OʻZBЕKISTОN RЕSPUBLIKASI <br>
                OLIY TA’LIM, FAN VA INNOVATSIYALAR VAZIRLIGI <br>

                URGANCH DAVLAT UNIVЕRSITЕTI <br>
            </h1>

            Qoʻlyozma huquqida


            Niyazmetova Kumushoy Ergash qizi

            “O‘zbek tilidagi matnlarini sentiment tahlil qilish”

            70230801 – Kompyuter lingvistikasi
            Magistr akadеmik darajasini оlish uchun yozilgan

        </div>
    </div>
{% endblock %}