{% extends 'base.html' %}
{% block content %}
    <h1>Salom </h1>
    {% load crispy_forms_tags %}
    {% if result.message %}
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            <strong>Holy guacamole!</strong> You should check in on some of those fields below.
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    {% endif %}
    <form action="" method="post">
        {% csrf_token %}
        {{ form|crispy }}
        <div class="row">
            <div class="col">
                <button type="submit" class="btn btn-lg btn-primary w-100" value="test" name="test">Testlash</button>
            </div>
            <div class="col">
                <button type="submit" class="btn btn-lg btn-info w-100" value="positive" name="positive">
                    Positive ga qo'shish
                </button>
            </div>
            <div class="col">
                <button type="submit" class="btn btn-lg btn-info w-100" value="negative" name="negative">
                    Negative qo'shish
                </button>
            </div>


        </div>
    </form>

    {% if result.text_word %}
        <hr>
        <hr>
        <div class="row">
            <div class="col">
                <h3>Word ngram </h3>
                <b>Matndagi sentiment:</b> {{ result.text_word }}
                <p><b>Predicted Scores</b>:</p>
                <p><b>Positive: </b> {{ result.positive_word }} %</p>
                <p><b>Negative: </b> {{ result.negative_word }} %</p>
            </div>
            <div class="col">
                <h3>Char ngram </h3>
                <b>Matndagi sentiment:</b> {{ result.text_char }}
                <p><b>Predicted Scores</b>:</p>
                <p><b>Positive: </b> {{ result.positive_char }} %</p>
                <p><b>Negative: </b> {{ result.negative_char }} %</p>
            </div>
        </div>

    {% endif %}

{% endblock %}
{% block js %}
    <script>
        function deactive() {
            if ($('#id_text').val().length > 0) {
                $('.btn').prop("disabled", false);
            } else
                $('.btn').prop("disabled", true);
        }

        $('#id_text').on('input', function () {
            deactive();
        });
        $(document).ready(function () {
            deactive();

        });
    </script>
{% endblock %}